.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ECECEC;
}

.header__conteiner {
    display: flex;
    align-items: center;


}

.header__connect {
    margin-left: auto;

}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 50px;

}

.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    text-decoration: none;
}

.logo__spn {
    color: #2196F3;
}


.menu__link {
    position: relative;
            &.current::after {
            top: 43px;
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            background-color: #2196F3;
            border-radius: 2px;
            }
}


// .header-link.current:hover::after {}



.menu__item {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.menu__link {
    color: #000000;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus
            {
            color: #2196F3;
        }

}

.connect__mail {
    margin-right: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: #2196F3;
        }
                .mail-icon:hover,
                .mail-icon:focus,
                & {
                    fill: currentColor;
                }
}

.mail-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
}



.tel-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}


.connect__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus
        {
            color: #2196F3;
        }
        
        .tel-icon:hover,
        .tel-icon:focus
        & {
        fill: #2196F3;
                }
}