.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    width: 528px;
    max-height: 581px;
    border-radius: 5px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scaleY(1);
    transition: transform 300ms linear;
        .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scaleY(0);
        }

}

// .backdrop.is-hidden .modal {
//     transform: translate(-50%, -50%) scaleY(0);
// }

.modal-close {
    width: 30px;
    height: 30px;
    fill: #000000;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        &:hover,
        &:focus {
            fill: #2196F3;
        }
}


.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-bottom: 12px;

}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: #000000;
    font-size: 15px;
    padding-left: 30px;
    outline: transparent;
        &::placeholder
        {
            font-size: 15px;
            color: rgba(117, 117, 117, 0.5);
        }
                &:focus
                {
                    border-color: #2196F3;
        
                }
}



.modal-field {
    margin-bottom: 10px;
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    outline: transparent;
        &::placeholder {
            font-size: 15px;
            color: rgba(117, 117, 117, 0.5);
        }
                &:not(:focus):not(:placeholder-shown):valid {
                    background-color: rgba(55, 253, 1, 0.669);
                }
        
                &:not(:focus):not(:placeholder-shown):invalid {
                    background-color: rgba(255, 0, 0, 0.646);
                }
                                &:focus {
                                    border-color: #2196F3;
                
                                }
}



.input-wrap {
    position: relative;
    margin-bottom: 10px;

}

.modal-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    .modal-input:focus+ & {
            fill: #2196F3;
        }
}

.input-label {
    font-size: 12px;
    color: #757575;
    display: block;
    margin-bottom: 10px;
    & span {
        display: block;
        margin-bottom: 4px;
    }
}


.check-text {
    font-size: 14px;
    color: #757575;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px;
    & span {
            width: 16px;
            height: 15px;
            border: 2px solid #212121;
            border-radius: 3px;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            fill: transparent;
    
            .input-check:checked+& {
                background-color: #2196F3;
                border-color: transparent;
                fill: #FFFFFF;
            }
    
            .input-check:focus+& {
                border-color: #2196F3;
            }
        }
}



.link-input {
    margin-left: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71px;
    color: #2196F3;
}




.span-text {
    display: block;
    margin-left: 10px;
}