.team {
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    background: #F5F4FA;
}

.team-lid {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #FFFFFF;
}

.team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.team-list {
    display: flex;
    flex: auto;

}

.team-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
}

.team-item-title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}

.team-item-text {

    text-align: center;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}

.team-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.team-soc-icon {
    fill: currentColor;
}




.team-soc-item {
    width: 44px;
    height: 44px;

}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            background-color: #2196F3;
            color: #FFFFFF;
        }
}